@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UserRegistrationModel
@{
    ViewBag.Title = "Login";
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}


<div id="logreg-forms">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Register</h1>
        <div class="form-group">
            <label asp-for="FirstName">FirstName</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">LastName</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">ConfirmPassword</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
        </div>
        <div class="form-group m-3">

            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Register</button>
            <a asp-action="Login" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        </div>
    </form>
</div>