@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/lib/fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/css/site.css"  rel="stylesheet"/>
    @RenderSection("head",false)
</head>
<body>
    <header class="container">
    
        <nav class="navbar navbar-dark bg-dark navbar-expand-md bg-grey">
                       
            <h1 class="navbar-brand"><i class="fas fa-store store-logo"></i>My Store</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a asp-controller="App" asp-action="Shop" class="nav-link">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        @RenderBody()
    </section>
    <footer class="text-center">Copyright 2021 My Store</footer>

    <script src="~/lib/jquery/dist/jquery.min.js" ></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" ></script>
    @RenderSection("Scripts", false)
</body>
</html>