<div class="row">
    <div class="col-md-6 offset-md-3">
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        <form (submit)="onLogin()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="name" #username="ngModel" [(ngModel)]="creds.username" required />
                <div class="text-danger" *ngIf="username.touched && username.invalid && username.errors?.required">Required</div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="creds.password" required />
                <div class="text-danger" *ngIf="password.touched && password.invalid && password.errors?.required">Required</div>
            </div>
            <div class="form-group m-3">
                <input type="submit" class="btn btn-success" value="Login" [disabled]="username.invalid || password.invalid" />
                <a href="#" class="btn btn-default">Cancel</a>
               
            </div>
            <div class="form-group text-center">
                <p>Don't have an account!</p>
                <a routerLink="/register" class="btn btn-primary">Register as a new user</a>
            </div>
            <div class="form-group m-5 text-center">
                <a href="/admin" class="text-center">Login as administrator</a>
            </div>
        </form>

    </div>
</div>