@{
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fortawesome/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
    <header class="container">

        <nav class="navbar navbar-dark bg-dark bg-admin navbar-expand-md bg-grey">
            <div class="container-fluid">
                <h1 class="navbar-brand"><i class="fas fa-store store-logo"></i>My Store</h1>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="theMenu" class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a asp-controller="Product" asp-action="Index" class="nav-link">Products</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Logout" asp-area="" class="nav-link">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="container">
        @RenderBody()
    </section>
    <footer class="text-center">Copyright 2021 My Store</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>